/free-env
__pycache__
/freeweb/.env
*.mo
/free/assets/semantic-ui/themes
/free/assets/node_modules
/static/bundles
/.vscode
/free/assets/webpack-stats.json
/staticfiles
/assets/node_modules
/assets/semantic-ui/themes
db.sqlite3
/*.zip
