daphne
Django
django-environ
django-modeltranslation
django-react-components
django-summernote
django-tables2
django-webpack-loader
drf-yasg
future
iso8601
jsonschema
markdown
Pillow
pip-chill
psycopg2-binary
pyopenssl
pyyaml
service-identity
whitenoise
social-auth-app-django
python-memcached
django-model-utils
cryptography
PyLTI
nameparser
jsf
serial
django-semanticui-forms
django-sortedm2m
json2html

#psycopg2==2.8.6 => psycopg2-binary
