{% extends 'free/base.html' %}
{% load i18n %}
{% load django_tables2 %}

{% block head %}

{% endblock %}  

{% block content %}

{% if user.is_authenticated %}


    <div class="right floated thirteen wide computer sixteen wide phone column" id="content">
        <div class="ui container grid">
            <div class="row"><div class="fifteen wide computer sixteen wide phone centered column">
                
                <div class="fifteen wide computer sixteen wide phone centered column">
                    
                    <h2><i class="table icon"></i>{% trans 'List of Protocols' %}</h2>
                    <div class="ui divider"></div>
                    <div class="ui grid">       
                        <div class="ui stacked segment">
                            <div class="ui green ribbon icon label">{% trans 'List of available Experiments'%}</div>
                            <div class="ui divider"></div>

                            {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}