<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"/>
        <meta name="description" content="Template for ELAB app"/>
        <meta name="keywords" content="ELab layout, template, web site" />
        <meta name="author" content="José Veiga" />
        <meta name="theme-color" content="#ffffff" />
        <!--HTML title-->
        <title>elab layout </title>
        <!--Block styling-->

        <link rel="stylesheet" href="{% static 'vendors/fomantic-ui/semantic.min.css'%}">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css"/>
        <link rel="stylesheet" href="static/css/style.css">
        <!-- Put your external css file here-->

        <!--Block javascript-->
        <link rel="stylesheet" href="static/vendors/fomantic-ui/semantic.min.css">
        <link rel="stylesheet" href="static/vendors/fomantic-ui/components/accordion.css">
        <link rel="stylesheet" href="static/vendors/fomantic-ui/components/accordion.min.css">

        <link rel="stylesheet" href="static/vendors/datatables.net/datatables.net-se/css/dataTables.semanticui.min.css">
        <link rel="stylesheet" href="static/vendors/datatables.net/datatables.net-responsive-se/css/responsive.semanticui.min.css">
        <link rel="stylesheet" href="static/vendors/datatables.net/datatables.net-buttons-se/css/buttons.semanticui.min.css">



        <link rel="shortcut icon" type="image/png" href="">
        <link rel="shortcut icon" href="http://e-lab.ist.eu/rec.web/faviconElab.ico">

        {% block head %}
        {% endblock %}
    </head>
    <body>  
        {% include 'free/layout/layout.html' %}

        {% block content %}
        {% endblock %}
    </body>

    {% include 'free/layout/scripts.html' %}

    {% block script %}
    {% endblock %}
</html>
