{% extends 'free/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load react_component from django_react_components %}

{% block title %}Main Page{% endblock %}

{% block head%}
    {% render_bundle 'components' %}

    <style type="text/css">
        #head {
            margin-top: 3em;
            margin-bottom: 2em;
            font-size: 4em;
        }
    </style>

{% endblock %}  

{% block content%}
    <div class="ui inverted vertical center aligned segment" >
        <div class="ui text container">
            <h1 id="head">{% trans 'This is a test page' %}</h1>
            
            
        </div>

    </div>

    <div class="ui center aligned segment">
        <div class="ui text container">
            {% react_component 'ExampleReactComponent' count=154 %}
        </div>
    </div>
{% endblock %}
