{% load i18n %}


    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .cienciaviva {
            height: 5%;
            text-align: center;
            width: 200px;
            padding-bottom: 5px;
            padding-top: 5px;
            display: block; 
            margin-left: auto; 
            margin-right: auto;
        }
        .square {
            height: 7%;
            text-align: center;
            width: 200px;
            padding-bottom: 5px;
            padding-top: 5px;
            display: block; 
            margin-left: auto; 
            margin-right: auto;
        }
    </style> 


<div class="item" >
    <h4><b class="home">{% trans 'Sponsors' %}</b></h4>
</div>
<div class="square"> 
    <a href="https://ec.europa.eu/programmes/erasmus-plus/node_en"> <img  src="https://apsi.org.pt/images/Projectos/AIJU_eCOM4CHILDREN/cofinanciadoEN.png" alt="Erasmus and Programme of the European Union Support" ></a>
</div>
<div class="square">
    <a href="https://fusenet.eu/"><img  src="http://groups.ist.utl.pt/~wwwelab.daemon/anexos/sponsor-logos/fusenet.jpg" alt="fusenet" ></a>
</div>
<div class="square">
    <a href="https://www.dgae.mec.pt/"><img   src="https://www.dgae.mec.pt/storage/media/2020/12/logo-dgae.svg" alt="WPA"></a>
</div>
<div class="cienciaviva">
    <a href="https://www.cienciaviva.pt/imprensa/comunicados-de-imprensa/"><img   src="https://www.cienciaviva.pt/img/logocv.png" alt="WPA"></a>
</div>
<div class="square">
    <a href="https://www.portugal.gov.pt/pt/gc22"><img   src="http://www.aejd.pt/files/documentos_info/logos/logo_rp_largo.png" alt="Republica de Portugal" ></a>
</div>
