{% load static %}

<!-- necessary for movable window -->
<script>
   var selectedStream = {{video_config.stream_id}};
   server = "{{video_config.stream_server}}";
</script>

<!-- necessary for movable window -->
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

<!-- necessary for movable window -->
<!-- Define here the width of the div -->
<style>
 .resizable {
   width: 320px;
   overflow: hidden;
   touch-action: none;
   box-sizing: border-box;
   hold: 1000;
   z-index: 1;
 }
 .draggable{
   z-index: 1;
   right: 0px;
   position: fixed;
 }
</style>
   

<!-- necessary for movable window -->
<script>
const position = { x: 0, y: 0 }

interact('.draggable').draggable({
 listeners: {
   start (event) {
     console.log(event.type, event.target)
   },
   move (event) {
     position.x += event.dx
     position.y += event.dy
     event.target.style.transform =
       `translate(${position.x}px, ${position.y}px)`
   },
 },
})

interact('.resizable')
 .resizable({
   edges: { top: true, left: true, bottom: true, right: true },
   invert: 'reposition',
   modifiers: [
     interact.modifiers.aspectRatio({
       ratio: 'preserve',
     }),
   ],
   listeners: {
     move: function (event) {
       let { x, y } = event.target.dataset

       x = (parseFloat(x) || 0) + event.deltaRect.left
       y = (parseFloat(y) || 0) + event.deltaRect.top
       Object.assign(
         event.target.style, 
         {
           width: `${event.rect.width}px`,
           height: `${event.rect.height}px`,
           transform: `translate(${x/2}px, ${y/2}px)`
         }
       )
       Object.assign(event.target.dataset, { x, y })
     }
   }
 })
</script>


<!-- movable window -->
<div class="draggable">
   <div class="resizable">
       <div class="ui raised very  container segment ">
           <div id="stream"> </div>
       </div>
   </div>
</div>
<!-- movable window -->
