<script src="static/vendors/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="static/vendors/fomantic-ui/semantic.min.js"></script>
<script src="static/vendors/fomantic-ui/components/accordion.js"></script>
<script src="static/vendors/fomantic-ui/components/accordion.min.js"></script>
<script src="static/js/elab-layout.js?v=00001"></script>

<script src="static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-se/js/dataTables.semanticui.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-responsive-se/js/responsive.semanticui.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendors/datatables.net/datatables.net-buttons-se/js/buttons.semanticui.min.js"></script>

<script src="static/vendors/jszip/jszip.min.js"></script>
<script src="static/vendors/pdfmake/pdfmake.min.js"></script>
<script src="static/vendors/pdfmake/vfs_fonts.js"></script>


