<!--sidebar-->
<div class="tablet mobile only row">
    <div id="mobiletabletsidebar" class="mobiletabletsidebar animate hidden">
        <div class="ui left fixed vertical menu scrollable">
            <div class="item">
                <table>
                    <tr>
                        <td>
                            <img class="ui mini image" src="static/images/eu.jpg">
                        </td>
                        <td>
                            <span class="clear"><strong>Elab</strong></span>
                        </td>
                    </tr>
                </table>
            </div>
            <a class="item" href="/"><i class="home icon"></i> Home</a>
            <a class="item" href="protocols"><i class="table icon"></i> Protocols</a>
            <a class="item" href="executions"><i class="home icon"></i> Executions</a>
            <!-- Begin Simple Accordion -->
            <div class="ui accordion simpleaccordion item">
                <div class="title titleaccordion item"><i class="dropdown icon"></i> Results</div>
                <div class="content contentaccordion">
                    <a class="item itemaccordion" href="#"><i class="settings icon"></i> link1</a>
                    <a class="item itemaccordion" href="#"><i class="settings icon"></i> link2</a>
                    <a class="item itemaccordion" href="#"><i class="settings icon"></i> link3</a>
                    <a class="item itemaccordion" href="#"><i class="settings icon"></i> link4</a>
                </div>
            </div>
            <!-- End Simple Accordion -->
            <a class="item"><i class="settings icon"></i> Settings</a>	
            <a href="logout" class="item"><i class="sign out alternate icon"></i> Logout</a>
            <a class="item" href="https://fomantic-ui.com/"><i class="heart icon"></i>More Components</a>
            <div class="item" id="hidemobiletabletsidebar">
                <button class="fluid ui button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>