

{% load i18n %}
{% load static %}


 

<!--  BEGIN SIDEBAR -->
<!-- mobile and table (sidebar) -->
<div class="tablet mobile only row ">
    <div class = "mobiletabletsidebar animate hidden" id="mobiletabletsidebar" >
    <!--<div class="left floated three wide computer column" id="computersidebar">-->
        <div class="ui left fixed vertical menu scrollable">
            {% include 'free/menus.html' %}

            <div class="item">       
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
            </div>
            {% include 'free/sponsor_logos.html' %}
        </div>
<!--</div>-->
    </div>
</div>

<!-- End mobile sidebar -->
<!-- BEGIN COMPUTER SIDEBAR -->
<div class="computer only row ">
    <div class="left floated three wide computer column" id="computersidebar">
        <div class="ui vertical fluid menu scrollable" id="simplefluid">
            <div class="clearsidebar" style="overflow-y:scroll;"></div>

            {% include 'free/menus.html' %}
            {% include 'free/lang_selector.html' %}
            {% include 'free/sponsor_logos.html' %}
        </div>
    </div> 
</div>







