{% load i18n %}
    {% load static %}

    <div class="ui grid">
      <!--navbar-->
      <div class="computer only row">
        <div class=" column">
            <div class="ui top fixed massive menu navbar">
                <!--<div class="nav item">
                    <img src="static/images/eu.png">
                </div>-->
                <div class="left menu">
                    <div class="nav item">
                        <strong class="navtext">{{project_acronymum}} - {{project_name}} {% if site_name %}({{site_name}}) {% endif %}</strong>
                    </div>

                </div>
                <div class="ui top pointing dropdown admindropdown link item right">
                    <img class="improfile" src="{% static 'free/images/eu.png' %}" alt="">
                    {% if user.is_authenticated %}
                        <span class="clear navtext"><strong>{% trans 'Hi'%}, {{ user }}</strong></span>
                    {% endif %}
                    <i class="dropdown icon navtext"></i>
                    <div class="menu">
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="item"><p><i class="settings icon"></i>{% trans 'Administration'%}</p></a>
                            <a href="{% url 'video-config-list' %}" class="item"><p><i class="settings icon"></i>{% trans 'Video Config'%}</p></a>
                            <a href="{% url 'users-cleanup-admin' %}" class="item"><p><i class="settings icon"></i>{% trans 'Users Cleanup'%}</p></a>
                            <a href="{% url 'experiments-cleanup-admin' %}" class="item"><p><i class="settings icon"></i>{% trans 'Experiments Cleanup'%}</p></a>
                            <a href="{% url 'FREE_quizes_admin:index' %}" class="item"><p><i class="settings icon"></i>{% trans 'FREE Quizes Administration'%}</p></a>
                        {% endif %}
                        <a href="{% url 'free:logout' %}" class="item"><i class="sign out alternate icon"></i> {% trans 'Logout'%}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--for mobile or table minimize your screen-->
    <div class="tablet mobile only row">
        <div class="column">
            <div class="ui top fixed menu navcolor">
                <a id="showmobiletabletsidebar" class="item navtext"><i class="content icon"></i></a>
                <div class="right menu">
                    <div class="item">
                        <strong class="navtext">{% trans 'Elab' %}</strong>
                        
                    </div>
                    <div class="item">
                        <img src="{% static 'free/images/elab_logo.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>