    <div class="ui grid">
      <!--navbar-->
      <div class="computer only row">
        <div class=" column">
            <div class="ui top fixed massive menu navbar">
                <!--<div class="nav item">
                    <img src="static/images/eu.jpg">
                </div>-->
                <div class="left menu">
                    <div class="nav item">
                        <strong class="navtext">Elab</strong>
                    </div>
                
                </div>
                <div class="ui top pointing dropdown admindropdown link item right">
                    <img class="imgrad" src="static/images/eu.jpg" alt="">
                    {% if user.is_authenticated %}
                        <span class="clear navtext"><strong>Hi, {{ user }}</strong></span>
                    {% endif %}
                    <i class="dropdown icon navtext"></i>
                    <div class="menu">
                        <div class="item"><p><i class="settings icon"></i>Account Setting</p></div>
                        <a href="logout" class="item"><i class="sign out alternate icon"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--for mobile or table minimize your screen-->
    <div class="tablet mobile only row">
        <div class="column">
            <div class="ui top fixed menu navcolor">
                <a id="showmobiletabletsidebar" class="item navtext"><i class="content icon"></i></a>
                <div class="right menu">
                    <div class="item">
                        <strong class="navtext">Elab</strong>
                        
                    </div>
                    <div class="item">
                        <img src="http://e-lab.ist.eu/rec.web/javax.faces.resource/elab_logo.png.faces?ln=images">
                    </div>
                </div>
            </div>
        </div>
    </div>