{% extends 'free/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Home page {% endblock %}
{% block headscript%}


{% endblock %}

{% block content %}



<div class="right floated thirteen wide computer sixteen wide phone column" id="content">

  <h3> <a href = '{% url "video-config-list" %}'>Return no Apparatuses List</a></h3>

  {% include 'free/video_window.html' %}

  <h1> {% trans 'Apparatus Information' %}</h3>
  <pre>{{ ap | pprint }}</pre>
  <h1>{% trans 'Video Stream information' %}</h3>
  <pre>{{ stream_info | pprint }}</pre>
  

  <br>
  {% if stream_info %}
    <a href="{% url "video-config-remove" ap.id %}">
      <div class="ui teal labeled icon button">
        {% trans 'Remove stream' %} 
        <i class="signup icon"></i>
      </div>
    </a>
  {% else %}
    <a href="{% url "video-config-assign" ap.id %}">
      <div class="ui teal labeled icon button">
        {% trans 'Assign stream' %} 
        <i class="signup icon"></i>
      </div>
    </a>
  {% endif %}

  <h1>Data to copied into RP (start-video.sh)</h1>
    <pre>
      {% if stream_address and stream_port %}
        video_server={{stream_address}}<br>
        video_port={{stream_port}}
        {%else%}
        
        {%endif%}
    </pre>
  <h1> video windows</h1>
  {% include 'free/video_window.html' %}

</div>
{% endblock %}

{% include 'free/layout/scripts.html' %}